<section><div>
    <nav>
    <ul class="navs">
        <li><img src="assets/image/kup.png" alt="" height="60p" width="110px"></li>
         <li routerLink="maintask">Home</li>
         <li routerLink="addtask">AddTask</li>
        <li routerLink="pendingtask">PendingTask</li>
        <li routerLink="taskhistory">Task History</li>
       
        <li><a (click)="logout()">Logout</a></li>

    </ul>
</nav>
</div>
</section>
<section>
    <router-outlet></router-outlet>
</section>

         

            




      



